{% extends "base.html" %}

{% block content %}
<div class="container-content">
    <h1>List of my favourite recipes</h1>
    <p>Recipies description</p>

    <!-- <ul>
        <li>{{ recipes[1] | capitalize}}</li>
        <li>{{ recipes[2] }}</li>
    </ul> -->

    <ul class="recipes-list">
        {% for key, recipe in recipes.items() %}
            <!-- <li><a href="/recipe/{{key}}">{{ recipe | title }}</a></li> -->
            <li><a href="{{ url_for('recipe', id=key) }}">{{ recipe | title }}</a></li>
        {% endfor %}
    </ul>
    <form action="/" method="POST">
        {{ form.hidden_tag() }}
        <p>
            {{ form.recipe.label }}
            {{ form.recipe()}}
        </p>
        <p>
            {{ form.recipe_type.label }}
            {{ form.recipe_type()}}
        </p>
        <p>
            {{ form.description.label }}
            {{ form.description()}}
        </p>
        <p>
            {{ form.ingredients.label }}
            {{ form.ingredients()}}
        </p>
        <p>
            {{ form.instructions.label }}
            {{ form.instructions()}}
        </p>
        <p>
            {{ form.submit()}}
        </p>
    </form>
</div> 
{% endblock %}